<label>{{titleText}}</label>
<form [formGroup]="userDetails" (ngSubmit)="onSubmit(userDetails.value)">
  <table border="1">
    <tr>
      <td><label>Employee Name:</label></td>
      <td><input type="text" id="name" formControlName="name"></td>
    </tr>
    <tr>
      <td><label>Location:</label></td>
      <td>
        <select id="location" formControlName="location">
          <option *ngFor="let i of loc" value={{i}}>{{i}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label>Email:</label></td>
      <td><input type="text" id="email" formControlName="email"></td>
    </tr>
    <tr>
      <td><label>Mobile:</label></td>
      <td><input type="text" id="mobile" formControlName="mobile"></td>
    </tr>
    <tr>
      <td><input type="submit" [disabled] = "!userDetails.valid" id="add"></td>
    </tr>
  </table>
</form>