
<table align="center" border="3" height="300" width="600">
  <h1>{{titleText}}</h1>
  <nav>
  <a routerLink="/employees-list">Employees List</a> &nbsp; &nbsp;

  <a routerLink="/add-employee">Add Employee</a>
  <br/>
  <br/>
  </nav>
  <router-outlet></router-outlet>
</table>
