<h2>{{titleText}}</h2>
<table>
  <tr>
    <td><label>Id:</label></td>
    <td><label id="id" *ngIf="emp!=null">{{emp.id}}</label></td>
  </tr>
  <tr>
    <td><label>Name:</label></td>
    <td><label id="name" *ngIf="emp!=null">{{emp.name}} </label></td>
  </tr>
  <tr>
    <td><label>Location:</label></td>
    <td><label id="location" *ngIf="emp!=null">{{emp.location}} </label></td>
  </tr>
  <tr>
    <td><label>Email:</label></td>
    <td><label id="email" *ngIf="emp!=null">{{emp.email}} </label></td>
  </tr>
  <tr>
    <td><label>Mobile:</label></td>
    <td><label id="mobile" *ngIf="emp!=null">{{emp.mobile}} </label></td>
  </tr>
  <tr>
    <td><input type="button" id="back" value="back" (click)="nav_home()"></td>
  </tr>
</table>