
&nbsp;&nbsp;<label> Filter By:</label>
<br/>
&nbsp;&nbsp;<input type="text" id="filter" [(ngModel)]="search" name="search">
<br/><br/>
&nbsp;&nbsp;<label>Total Number of Employees:</label> <label *ngIf="(emp | filterSearch:search)!=null">{{(emp | filterSearch:search).length}}</label>
&nbsp;&nbsp;<label id="count"></label>
<br/>
<br/>
<br/>
<table border="1">
    <thead>
      <th>Emp ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody *ngIf="emp!=null">
      <tr *ngFor="let emps of emp | filterSearch:search; index as i">
        <td><a [routerLink]="['/details',emps.id]">{{emps.id}}</a></td>
        <td id="name{{i+1}}">{{emps.name}}</td>
        <td id="loc{{i+1}}">{{emps.location}}</td>
        <td id="email{{i+1}}">{{emps.email}}</td>
        <td id="mob{{i+1}}">{{emps.mobile}}</td>
        <td><a [routerLink]="['/edit',emps.id]">Edit{{i+1}}</a></td>
        <td><a [routerLink]="['/delete',emps.id]">Delete{{i+1}}</a></td>
      </tr>
    </tbody>


</table>